@{
    ViewData["Title"] = "Início";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4">Bem-vindo ao Admin do Avavendas</h1>
            <p class="lead">Gerencie suas vendas de forma eficiente e intuitiva com o Avavendas. Aqui estão algumas maneiras de começar:</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dashboard de Vendas</h5>
                    <p class="card-text">Acompanhe as vendas mais recentes, visualize gráficos e relatórios para insights valiosos sobre o desempenho da sua equipe de vendas.</p>
                    <a href="#" class="btn btn-primary">Ver Dashboard</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestão de Produtos</h5>
                    <p class="card-text">Adicione, edite e gerencie seus produtos de forma eficiente. Mantenha o catálogo atualizado e organize seus produtos de acordo com categorias.</p>
                    <a href="#" class="btn btn-primary">Gerenciar Produtos</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Relatórios Financeiros</h5>
                    <p class="card-text">Acesse relatórios detalhados de desempenho financeiro, incluindo lucros, despesas, previsões de vendas e muito mais.</p>
                    <a href="#" class="btn btn-primary">Ver Relatórios</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Novidades e Atualizações</h5>
                    <p class="card-text">Fique por dentro das últimas novidades, atualizações de sistema e dicas úteis para maximizar o uso do Avavendas.</p>
                    <a href="#" class="btn btn-primary">Ver Novidades</a>
                </div>
            </div>
        </div>
    </div>
</div>
